body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.visList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visList > li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border-left: 1px solid #aaa;
}

.visList > li:first-of-type {
  border-left: none;
}

.helpText {
  text-indent: 20px;
  font-family: sans;
  width: 400px;
  margin: 0 auto;
}

.areaInfoBox {
  padding: 10px;
  position: fixed;
  left: 0px;
  bottom: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,.25)
}

.mapContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
