.container {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 10px;
}

.header {
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}
